@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FrontEndLayouts/_Layout.cshtml";
}

<h2>Index</h2>

<button class="btn btn-success" id="get_token">Получить токен доступа</button>
<button class="btn btn-danger" id="get_near">Получить людей рядом</button>

<div id="nearPeopleCOntainer">

</div>
