@model IEnumerable<marmeladka.ViewModel.CategoryViewModel>
<ul class="nav nav-tabs">
    <li><a href="javascript:void(0)" data-category-id="@Guid.Empty" onclick="GetByCategory(this)">Все</a></li>
    @foreach (var item in Model)
    {
        <li>
            <a href="javascript:void(0)" data-category-id="@item.Id" onclick="GetByCategory(this)">@item.Name</a>
        </li>
    }
</ul>
