@model IEnumerable<marmeladka.ViewModel.CompanyViewModel>

<div class="brands_products">
    <!--brands_products-->
    <h2>Company</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in Model)
            {
                <li><a href="#">@item.Name</a></li>
            }      
        </ul>
    </div>
</div>

