@model IEnumerable<marmeladka.ViewModel.CompanyViewModel>

<div class="well">
    <h4>Filters</h4>
    <form>
        @foreach (var item in Model)
        {
            <label class="checkbox">
                <input type="checkbox" value="@item.Id">
                @item.Name
            </label> 
        }
        <button class="btn btn-primary pull-right" type="submit">Filter</button>
    </form>
</div>

