@model IEnumerable<marmeladka.ViewModel.CategoryViewModel>

@{
    ViewBag.Title = "GetAllCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Имя</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {          
            <tr>
                <td>@item.Name</td>
                <td><button type="button" data-model-id="@item.Id" onclick="AddOrUpdateModel(this)" class="btn btn-success">Обновить</button></td>
                <td><a href="@Url.Action("DeleteCategory", "Admin", new { id = item.Id })" class="btn btn-danger">Удалить</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-1">
    <button class="btn btn-primary" type="button" data-model-id="null" onclick="AddOrUpdateModel(this)">Добавить</button>
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<script type="text/javascript">
    function AddOrUpdateModel(event) {
        $.ajax({
            cache: false,
            type: 'GET',
            url: "/Admin/GetOrUpdateCategoryForm/?id=" + event.getAttribute("data-model-id"),
            async: true,
            success: function (result) {
                $("#dialogContent").html(result);
                $('#modDialog').modal('show');
            }
        });
    };
</script>
