@model IEnumerable<marmeladka.ViewModel.AdminViewModel>

@{
    ViewBag.Title = "GetAllAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>Имя Администратора</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {          
            <tr>
                <td>@item.Name</td>
                <td><a href="@Url.Action("DeleteAdmin", "Admin", new { id = item.Id })" class="btn btn-danger">Удалить</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-1">
    <button class="btn btn-primary" type="button" onclick="AddModel()">Добавить</button>
</div>



<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<script type="text/javascript">
    function AddModel() {
        $.ajax({
            cache: false,
            type: 'GET',
            url: "/Admin/AddAdminForm/",
            async: true,
            success: function (result) {
                $("#dialogContent").html(result);
                $('#modDialog').modal('show');
            }
        });
    };
</script>
