@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row" style="margin-top: 10%">
    <div class="col-sm-2 col-sm-offset-5">
        @using (Html.BeginForm("Login", "Admin", FormMethod.Get, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.TextBox("name", null, new { placeholder = "Введите имя", @class = "form-control" })
            @Html.Password("password", null, new { placeholder = "Пароль", @class = "form-control" })
            @Html.ValidationMessage("password")
            <div style="margin-top: 4px;">
                <button type="submit" class="btn btn-success" style="width: 45%;">Войти</button>
                <button type="reset" class="btn btn-primary" style="width: 45%; margin-left: 20px;">Очистить</button>
            </div>
        }
    </div>
</div>
